#gameTop {
    display: flex;
    width: 100vw;
    height:calc(100% - 68px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameTop-contentHolder { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
}


#gameTop-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px 0 40px;
}

#gameTop-top h5 {
    font-style: italic;
    text-align: left;
    margin: 0;
}

#gameTop-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#gameTop-midTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gameTop-teamBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}

.gameTop-teamLogo {
    width: 250px;
    height: 250px;
}

.gameTop-teamBox h2 {
    margin: 0;
    padding: 10px 0;
    font-weight: bold;
}

#gameTop-gameScore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gameTop-score {
    margin: 0;
    font-style: italic;
    font-weight: bold;
    padding: 0 30px;
}

#gameTop-gameScore .initializeBet {
    --bs-btn-bg: #454b50;
    --bs-btn-active-bg: #656e76;
    --bs-btn-border-color: #454b50;
    --bs-btn-hover-bg: #656e76;
    font-weight: bold;
}